

body
{
    background-image: url(/164909-ambiente-universo-objeto_astronomico-ciencia-estrella-7680x4320.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;     /* Opcional: efecto parallax en desktop */
  min-height: 100vh;                /* Asegura que cubra al menos toda la altura de la pantalla */
  margin: 0;                        /* Quita márgenes por defecto */
    padding: 0;
}

